// olors
$husky-purple:   #32006e;
$spirit-purple:  #4b2e83;
$husky-gold:     #b7a57a; 
$light-gold:     #e8e3d3; 
$heritage-gold:  #85754d;
$spirit-gold:    #ffc700;

// accent colors
$accent-green:    #aadb1e;
$accent-teal:     #2ad2c9;
$accent-pink:     #e93cac;
$accent-lavender: #c5b4e3;
$black: #000000;
$white: #ffffff;

// fonts
$encode-sans:  'Encode Sans', sans-serif;
$encode-sans-compressed:  'Encode Sans Compressed', sans-serif;
$uni-sans:     'Uni Sans', sans-serif;
$open-sans:    'Open Sans', sans-serif;

$bookmania:    'Bookmania', serif;
$roboto-slab:  'Roboto Slab', serif;
$rozha-one:    'Rozha One', serif;

// other
$wide: 100%;
$margin: 0;