.logged-in {
  div#thin-strip {
    top: 32px !important;
  }
}

div#thin-strip {
  height: 60px;
  width: 100%;
  background: #fff;
  position: absolute;
  z-index: 200;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  .wordmark {
    width: 340px;
    height: 50px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../assets/parts/thinstrip.svg) no-repeat 0 -71px;
    position: absolute;
    left: 40px;
    bottom: -1px;
  }

  .search-bar {
    width: 0;
    float: right;
    height: 100%;
    padding: 10px 0 10px 15px;
    border: none;
    font-size: 20px;
    outline: 0;
    transition: width 400ms;

    &.open {
      width: 100px;
    }
  }

  ul {
    float: right;
    height: 100%;

    li {
      list-style: none;
      float: left;
      display: inline-block;
      margin: 14px 0 0;

      &.facebook,
      &.twitter,
      &.instagram,
      &.youtube {
        margin-right: 10px;
        a {
            margin: 0 0 -3px 0;
            text-indent: -10000px;
            display: block;
            position: relative;
            width: 30px;
            z-index: 1;
        }
        &:hover{
            i.fa-brands {
              color: #4b2e83;
              transform: scale(110%);
            }
        }
        i.fa-brands {
            position: relative;
            top: -25px;
            
        }
      }

      &.facebook { 
        span{ 
          &:before {
            content: "\f305";
          }
        }
      }
      &.twitter { 
        span{ 
          &:before {
            content: "\f301";
          }
        }
      }
      &.instagram { 
        span{ 
          &:before {
            content: "\f12d";
          }
        }
      }
      &.youtube {
        span{ 
          &:before {
            content: "\f19b";
          }
        }
        margin-right: 30px;
      }
      &.search {
        text-indent: -10000px;
        width: 40px;
        height: 40px;
        background: url(../assets/parts/thinstrip.svg) no-repeat -25px -232px;
      }

      a {
        color: #797979;
        position: relative;
        font-family: "Encode Sans Compressed", sans-serif;
        font-weight: 600;
        font-size: 15px;
        margin-right: 30px;
        line-height: 33px;
        &:hover {
          color: #4b3e83;
        }

        &.slash:after {
          position: absolute;
          right: -18px;
          height: 25px;
          width: 9px;
          top: -2px;
          content: "";
          background: url(../assets/parts/thinstrip.svg) no-repeat -154px -18px;
        }
      }
    }
  }
}

// Media queries
@media only screen and (max-width: 992px) {
  div#thin-strip {
    .wordmark {
      width: 80px;
    }
  }
}

@media only screen and (max-width: 768px) {
  div#thin-strip {
    overflow-y: hidden;
    height: 60px;
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 200;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    .wordmark {
      width: 80px;
      height: 50px;
      display: block;
      text-indent: -9999px;
      overflow: hidden;
      background: url(../assets/parts/thinstrip.svg) no-repeat 0 -71px;
      position: absolute;
      left: 12px;
      bottom: -1px;
    }

    ul {
      float: right;
      height: 100%;

      li {
        // margin: 13px 8px 0 0;
        // text-indent: -10000px;
        // width: 30px;

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
          display: none;
        }

        a.slash {
          display: none;

          &:after {
            position: absolute;
            right: -18px;
            height: 25px;
            width: 9px;
            top: -2px;
            content: "";
            background: url(../assets/parts/thinstrip.svg) no-repeat -154px -18px;
          }
        }
      }

      li.facebook {
        //background: url(../assets/parts/thinstrip.svg) no-repeat -7px -13px; 
        }
      li.twitter {
        // background: url(../assets/parts/thinstrip.svg) no-repeat -48px -13px; 
        }
      li.instagram {
       //  background: url(../assets/parts/thinstrip.svg) no-repeat -97px -13px; 
        }
      li.youtube {
       //  background: url(../assets/parts/thinstrip.svg) no-repeat -127px -13px; margin-right: 30px; 
        }
      li.search {
        text-indent: -10000px;
        width: 40px;
        height: 40px;
        background: url(../assets/parts/thinstrip.svg) no-repeat -25px -232px;
      }

      a {
        color: #797979;
        position: relative;
        font-family: "Encode Sans Compressed", sans-serif;
        font-weight: 600;
        font-size: 15px;
        margin-right: 30px;
      }
    }
  }
}

.dropdown-arrow-inverse {
  border-bottom-color: #4b2e83 !important;
  border-top-color: #4b2e83 !important;
}

.module-hero-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  background-position: center center;
  overflow: hidden;

  h1 {
    font-family: "Encode Sans Compressed", sans-serif;
    font-weight: 900;
    line-height: 1;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top: 50px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      height: 600px;
      left: -360px;
      opacity: 0.3;
      width: 580px;
     // background: url(../assets/parents/parents.svg) no-repeat -100px 0;
      z-index: 0;
    }
  }

  .udub-slant {
    margin: 75px 0 0 0;

    span {
      background-color: #b7a57a;
      margin: 0;
    }
  }

  .container {
    position: relative;
    height: 100%;
  }
}

.boundless-button {
  display: inline-block;
  border-left: 4px solid #FFF;
  overflow: hidden;
  padding: 0 40px 0 0;
  margin-top: 10px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;

  &.dark {
    span {
      border: 4px solid #4b2e83;

      a {
        color: #4b2e83;

        &:after {
          background-position: -211px -13px;
        }
      }
    }

    &.sm {
      border-left: 3px solid #4b2e83;

      span {
        border: 3px solid #4b2e83;
      }
    }
  }

  &.sm {
    border-left: 3px solid #FFF;

    span {
      border: 3px solid #FFF;
    }

    a {
      padding: 6px 36px 5px 54px;
    }
  }

  &:hover {
    border-color: #b7a57a;
    -webkit-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);

    span {
      border-color: #b7a57a;

      a {
        color: #b7a57a;
      }
    }
  }

  span {
    border: 4px solid #FFF;
    display: block;
    -webkit-transform: skew(-15deg, 0);
    -ms-transform: skewX(-15deg) skewY(0);
    transform: skew(-15deg, 0);
    overflow: hidden;
    margin-left: -40px;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;

    a {
      padding: 10px 40px 10px 60px;
      font-weight: 900;
      font-size: 16px;
      font-family: "Encode Sans Compressed", sans-serif;
      text-transform: uppercase;
      color: #FFF;
      -webkit-transform: skew(15deg, 0);
      -ms-transform: skewX(15deg) skewY(0);
      transform: skew(15deg, 0);
      display: inline-block;
      text-shadow: none;
      -webkit-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;

      &:after {
        content: "";
       //) no-repeat -189px -13px;
        display: block;
        position: absolute;
        right: 15px;
        top: 50%;
        width: 18px;
        height: 30px;
        margin-top: -16px;
      }
    }
  }

  &.button-second,
  &.dark.sm.button-second {
    @media screen and (min-width: 768px) {
      margin-left: -32px;
      border-left: none;

      span {
        margin-left: 10px;

        a {
          padding-left: 20px;
          position: relative;
        }
      }
    }
  }
}

// Media queries
@media only screen and (max-width: 992px) {
  .module-hero-image h1 {
    font-size: 40px;
  }
}